.time{
  display: flex;
  width :50%
}
.btns{
  display: flex;
  justify-content: space-around;
  width :25%

}



.buttons {
  color: azure;
  width: 120px;
  height: 40px;
  background-color: blue;
  border: solid;
  border-radius: 5px;
  
  
}
 
.time h1
{
  margin :15px
}

